*html {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#0e0f39,#41426c);
  /* background-color: salmon; */
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 30px;
}

.icon-kiri {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.logo a  {
  color: white;
  text-decoration: none;
}

.logo input {
  height: 40px;
  width: 320px;
  border-radius: 20px;
  padding-left: 15px;
  outline: none;
  border: 1px solid gray;
}

.icon-kanan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.btn-login,
.btn-create {
  border-style: none;
  height: 40px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  
}

.btn-create {
  border-radius: 8px;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  color: white;
  padding: 10px;
}
.btn-login{
    line-height: 40px;
    text-align: center;
    width: 100px;
    border-radius: 8px;
}
.btn-create:hover{
    background-color: #707191;
}
.btn-login:hover{
    background-color: #707191;
}
/* MAINNNNNNN */

main {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.content-left {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  gap: 15px;
}

.box-left {
  background-color: #707191;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}
.contain-edit{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
}
.box-left img{
    width: 200px;
    border-radius: 15px;
}
.box-left a{
    text-decoration: none;
    background-color: #0e0f39;
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 0;
    width: 100px;
}
.box-left h3{
  margin-top: 30px;
  margin-bottom: 10px;
}

.container-menu a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 270px;
  }
.container-menu:hover{
    background-color: #0e0f39;
    border-radius: 15px;

}
.box-menu {
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.box-menu img{
    width: 25px;
    filter: invert();
}

ul {
  display: flex;
  padding-left: 0;
  margin: 0;
  margin-bottom: 10px;
}
ul li {
  list-style: none;
  margin-right: 15px;
  color: white;
}
.content-center {
  width: 50%;
}
.content-center .menu{
    background-color: #07071f;
    padding: 10px;
    border-radius: 10px;
}
.content-center .lagi{
    padding: 10px;
}
.cover-center {
  height: 350px;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;

}
.cover-center img{
    object-position: 0px -7px;
    width: 100%;

}
.main-box{
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;

    background-color: #707191;
    margin-bottom: 15px;
    padding: 20px;
}
.container-box {
  padding: 20px;
  background-color: #707191;
  margin-bottom: 15px;
  border-radius: 20px;
}
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.box-top {
  display: flex;
}
.foto {
  width: 60px;
  border-radius: 50%;
}
.user-info p {
  margin: 0;
}
.user-info .name {
  font-weight: bold;
  font-size: 18px;
}
.user-info .date {
  font-size: 18px;
}
.description .text {
  margin-bottom: 15px;
  font-size: 25px;
  margin-top: 12px;
}

.hastags,.reaction,.comment{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.container-react{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.content-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;

}
.content-right a{
  text-decoration: none;
  color: #07071f;
}

.box-right h2{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  color: white;
}
.box-right {
  background-color: #707191;
  width: 100%;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box-trending{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #707191;
  padding: 20px;
  width: 340px;
  margin: 0;
}
.box-trending:hover{
  background-color: #41426c;
}
.box-trending img{
  filter: invert();
}
span .box-trending{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.trending p{
    margin: 0;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.trending p span{
  color: black;
  font-size: 15px;
  font-weight: 100;
}



